# This is an example configuration. Please see README.MD

[profilerDatabase]
host = "172.16.0.200"
username = "myuser"
password = "mypassword"
database = "paradise_profilerdaemon"

[redis]
host = "172.16.0.200"
