# This is an example configuration. Please see README.MD

[profilerDatabase]
host = "172.16.0.200"
username = "myuser"
password = "mypassword"
database = "paradise_profilerdaemon"

[redis]
host = "172.16.0.200"

[tgs]
tgsHost = "http://10.0.0.30:5000" # dont put a trailing slash on the end of this
username = "username_here"
password = "password_here"
